table
  border-collapse: collapse

table, th, td
  border: 1px solid black

th, td
  text-align: center
  padding: 4px


tr:nth-child(odd)
  background-color: #fafafa



tr:nth-child(even)
  background-color: #fff



tr:nth-child(1)
  background-color: #eee

.label
  width: 200px
  float: left
